# Abhängigkeiten
node_modules/

# Next.js Build-Output
.next/
out/

# Umgebungsvariablen – NIEMALS einchecken!
.env
.env.local
.env.*.local

# Prisma-Client (wird bei npm install generiert)
node_modules/.prisma/

# Build-Infos
tsconfig.tsbuildinfo
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*

# Editor
.vscode/settings.json
.vscode/*.log

# Cypress Videos/Screenshots (optional)
cypress/videos/
cypress/screenshots/

# OS
.DS_Store
Thumbs.db

# Notizen
NOTE:*.md

.vercel
